.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:black;
  padding: 5px;
}
.grid-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, #ffffff, #d3b5ff,#a76bff,#8c3dff, black);
}



h1 {
text-align: center;
font-size: 50px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
}
