body {
  background-image: linear-gradient(to bottom, #ffffff, #d3b5ff,#a76bff,#8c3dff, black);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:black;
  padding: 5px;
}
.grid-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}




h1 {
text-align: center;
font-size: 50px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
}

.navbar ul {
    list-style-type: none;  
    height: 60px; 
    overflow: hidden;
    display:flex;
    justify-content:center;
}

.navbar li a {
    display: block; 
     color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    height: 60px;
   font-size: 40px;
   font-weight: bold;
   margin-top: -20px;
}


.navbar li a:hover {
    background-color: #d6d6d6;
    color: black;
}

form {
 font-size: 1.8em;
font-family: Arial, Helvetica, sans-serif;
 width: 40%;
 color: black; 
 margin-left: auto;
 margin-right: auto; 
 text-align:center;
 padding: 10px;
  border: solid black 5px;
 border-width: 5px;
 border-radius: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
button {
  background-color: #c70479;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border:  2px solid white; 
  border-radius: 20px;
   padding: 10px 25px;
  font-size: 15px;
}
  
  button:hover {
    background-color: #a30072;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}