body {
  background-image: linear-gradient(to bottom,#4d3800,#ab7c00,#edb41f,#ffcf52,#ffde87, #ffecb8,#fff7e3 );
}



h1 {
text-align: center;
font-size: 50px;
font-family:Arial, Helvetica, sans-serif;
color: white;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fcdc79;
  padding: 5px;
}
.grid-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}